.home-container{
	display: flex;
	flex-direction: row;
	

     
}
.side-panel{
	width:15vw;
	/* background-color: rgb(219, 209, 61); */
	border-right: .5px solid rgb(0, 0, 0) ;

}

.main-body{
	padding-top: 15rem;
	padding-left : 35rem ;
}